venv/
.idea/eShopTracker.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
listAllRegions.txt
commands/__pycache__/listallregions.cpython-39.pyc
commands/__pycache__/printallregions.cpython-39.pyc
commands/__pycache__/welcome.cpython-39.pyc
commands/__pycache__/region.cpython-39.pyc
commands/__pycache__/listallregions.cpython-311.pyc
commands/__pycache__/listcommands.cpython-311.pyc
commands/__pycache__/printallregions.cpython-311.pyc
commands/__pycache__/region.cpython-311.pyc
commands/__pycache__/search.cpython-311.pyc
commands/__pycache__/welcome.cpython-311.pyc
commands/__pycache__/notifications.cpython-311.pyc
commands/__pycache__/version.cpython-311.pyc
commands/__pycache__/listallregions.cpython-312.pyc
commands/__pycache__/listcommands.cpython-312.pyc
commands/__pycache__/printallregions.cpython-312.pyc
commands/__pycache__/notifications.cpython-312.pyc
commands/__pycache__/region.cpython-312.pyc
commands/__pycache__/search.cpython-312.pyc
commands/__pycache__/version.cpython-312.pyc
commands/__pycache__/welcome.cpython-312.pyc
commands/__pycache__/online.cpython-312.pyc
commands/__pycache__/save.cpython-312.pyc
commands/__pycache__/settings.cpython-312.pyc
commands/__pycache__/info.cpython-310.pyc
commands/__pycache__/info.cpython-312.pyc
commands/__pycache__/listallregions.cpython-310.pyc
commands/__pycache__/listcommands.cpython-310.pyc
commands/__pycache__/notifications.cpython-310.pyc
commands/__pycache__/online.cpython-310.pyc
commands/__pycache__/printallregions.cpython-310.pyc
commands/__pycache__/region.cpython-310.pyc
commands/__pycache__/save.cpython-310.pyc
commands/__pycache__/search.cpython-310.pyc
commands/__pycache__/settings.cpython-310.pyc
commands/__pycache__/version.cpython-310.pyc
commands/__pycache__/welcome.cpython-310.pyc
