venv/
.idea/eShopTracker.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
listAllRegions.txt
commands/__pycache__/listallregions.cpython-39.pyc
commands/__pycache__/printallregions.cpython-39.pyc
commands/__pycache__/welcome.cpython-39.pyc
commands/__pycache__/region.cpython-39.pyc
